pytorch-lightning==1.5
spconv-cu111==2.1.21
setuptools==59.5.0
scikit-image==0.18
numba
pillow
wandb
tqdm
pyyaml
matplotlib
black
imageio
easydict
numpy_indexed
opencv-python
open3d
pyrender
ray
trimesh
pycuda
catkin_pkg
pybullet==2.7.9
pytorch-ignite
urdfpy
cython
pykdtree
monai
pyglet==1.5.15
